// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

ul li {
  list-style: none;
  font-family: 'Baloo Bhaina 2', cursive;
  font-size: 23px;
}


